/*Variables*/
:root{
    --color-background: #0E0D1F;
    --color-mainColor: #4390DE;
}

/* Asignando un valor por defecto para la fuente de la etiqueta h1 */
h1{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-align: justify;
}

/* Asignando un valor por defecto para la fuente de la etiqueta p */
p{
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-style: normal;
    text-align: justify;
}

/*Eliminando el text-decoration que traen por defecto las etiquetas de tipoa a*/
a{
    color: var(--color-mainColor);
    text-decoration: none;
    overflow-wrap: break-word;
}

/*Añadiendo que salga una linea al pasar el mouse sobre una etquieta de tipo a (Un link)*/
a:hover{
    text-decoration: underline solid var(--color-mainColor);
}

/*Cuando un link es visitado se cambia el color de la etiqueta el color de su text-decoration*/
a:visited{
    color: red;
    text-decoration: red;
}

/* Colores del background de la pagina */
.backgroundColor{
    background-color: #0E0D1F;
}

/*Colores de para los diferentes fondos*/
.mainColor{
    background-color: #4390DE
}

.otherColor{
    background-color: #FDDF67
}

.lastColor{
    background-color: #FDFF91
}

.lastColorWhite{
    background-color: #FFFDCD
}


/* Textos de la pagina */
.ref{
    text-decoration: none;
}

.ref:hover{
    text-decoration: none;
}

.ref:visited{
    text-decoration: underline solid green;
}

/*Eliminar margenes y padding*/
.body{
    margin: 0px;
    padding: 0px;
}

/* Estilos de la barra de navegacion */
.menuNav{
    width: 100%;
    margin: 0;
    margin-top: 0%;
    position: relative;
}

/*Es tilos de los elementos de la barra de navegacion, se eliminan los tipos, margenes y padding */
.menuNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Se genera una proporcion adecuada para las pantallas grandes y se alinea */
.menuNav ul li{
	font-style: normal;
	font-weight: normal;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 16.4%;
}

/*Se asigna un color pre definido en una variable al hover del menu de navegacion */
.menuNav ul li:hover{
    background-color: var(--color-mainColor);
}

.menuNav ul li a{
    /* Estilo de la letra */
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    font-size: 2rem;
    font-weight: 400;
    color: white;

    /*Otro estilo */ 
    display: inline-block;
    padding: 5%;
    position: relative;
    text-decoration-line: none;
}

.content{
    position: relative;
	text-align: justify;
    margin: 2%;
    padding: 2%;
    font-size: 1.5rem;
    flex: 1;
}

.content img {
    width: 100%;
}

#mainBlock{
    position: relative;
	text-align: justify;
    max-width: 92%;
}

.containerContets{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.contentImg {
    position: relative;
	text-align: justify;
    margin: 2%;
    flex: 1;
}
.contentImg img{
    width: 100%;
}

#topPage{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

#indexMain{
    margin: 4% auto 4% auto;
    max-width: 90%;
    padding: 2%;
}

#title{
    color: white;
    margin: 0%;
    position: relative;
    /* Estilos de la fuente */
    font-family: "Times New Roman", Times, serif;
    font-size: 2.2rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    text-align: center;
}

.header {
    display: flex;
    color: #eeeeee;
    align-items: center;
    width: 100%;
    height: 65px;
}

@media only screen and (max-width:1220px){
    .menuNav ul li{
        width: auto;
    }
}

@media only screen and (max-width:780px){
}

@media only screen and (max-width:480px){
    .contentImg {
        min-width: 96%;
    }
}
