
/* Colores del background de la pagina */
.backgroundColor{
    background-color: #0E0D1F;
}

.mainColor{
    background-color: #60A6FF
}

.otherColor{
    background-color: #FDDF67
}

.lastColor{
    background-color: #FDFF91
}

.lastColorWhite{
    background-color: #FFFDCD
}


/* Textos de la pagina */

.ref{
    text-decoration: none;
}


.body{
    margin: 0px;
    padding: 0px;
}

.text{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-style: normal;
	text-align: justify;
}

.menuNav{
    width: 100%;
    margin: 5% auto 0 auto;
    margin-top: 0%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.menuNav ul{
    font-size: 0;
    list-style-type: none;
}

.menuNav ul li{
    font-size: 2rem;
	font-style: normal;
	font-weight: normal;
    text-align: center;
    display: inline-block;
    position: relative;
}

.menuNav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    /*color: #333;*/
    color: white;
    display: inline-block;
    padding: 15px;
    position: relative;
    text-decoration-line: none;
}

.content{
    position: relative;
	text-align: justify;
    margin: 0% 2% 0% 2%;
    max-width:44%;
    padding: 2%;
    font-size: 1.5rem;

    flex: 1;
}

.content img {
    width: 100%;
}

#mainBlock{
    position: relative;
	text-align: justify;
    float: center;
    margin: 4% 0 0 4%;
    max-width: 88%;
    padding: 2%;
    font-size: 1.5rem;
}

#dosCosos{
    margin: 0% 2% 0% 2%;
    padding: 4% 0% 0% 0%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#topPage{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

#indexMain{
    position: relative;
	text-align: justify;
    float: center;
    margin: 4% auto 4% auto;
    max-width: 90%;
    padding: 0% 0% 5% 0%;
    font-size: 1.5rem;
}

#title{
    color: white;
    margin: 0%;
    position: relative;
}